.producer{ 
	width:280px;
	position:absolute; left: 50%; 
	margin-left: - 280px/2; 
	top:10px;
	> img { width:100%}
} 
.nav ul {
	font-size: 0;  
	li > a{	
		font-size: 1rem;
		text-decoration: none; 
		font-style: normal;	
		transition:color ease .2s;
		@extend %nav_lig_link;
		&:hover {
			@extend %nav_lig_hover;
		}
		&.am-active {
			@extend %nav_lig_active;
		}	
	}
}

ul.a { 
	display: block; 
	padding-top: 80px;
	li {
		width:25%; 
		display: inline-block; 
		> a{ 
			font-size: 1.2rem;
		    display: block;
		    padding: 10px 15px;
		    letter-spacing: 2px;	
			@extend %nav_d_link;
			&:hover {
				@extend %nav_d_hover;
			}
			&.am-active {
				@extend %nav_d_active;
			}
		}
	} 
}
ul.b { 
	padding:50px;
	display:block;
	li > a {	
		font-size: 1.2rem;
		display: inline-block;
		text-align: center;
		border-radius: $radius;
		padding:15px;
	} 
}
.hanbuger{
	float: right;
 	background: #fff; 
	button{ 
		float: right;
		background: none;
		border:none;
		outline: none;
		background: $oldblue; 
		> span {
			width:1.5em; 
			display: block;
			border-bottom: 2px solid $oldblue-txt;
			margin:3px;
		}
	}
	ul.b {display:none;}
	&:hover {
		float: none;
		ul.b {display: block;}
	}
}
.nav {    
	padding:0;
	text-align: center; 
	transition:background ease .2s;
	.producer{ display: none; }
	ul.a {display: none; } 
	.hanbuger{ display: block; }

  	@include susy-breakpoint($padw) {
  		.producer{display:block;}
    	ul.a {display: block; }
		.hanbuger{ display: none; }
  	}
}

.nav.small { 
	@include susy-breakpoint($padw) {

		background:#fff;//$oldblue; 
		.producer{ width:150px; position:absolute; margin-left: - 150px/2; left: 50%;top:7px; } 
	}
	ul.a{  
		padding-top:0;
		> li > a { 
			font-size:1rem;
			padding: 17px 0;
			@extend %nav_lig_link;
			&:hover {
				@extend %nav_lig_hover;
			}
			&.am-active {
				@extend %nav_lig_active;
			}
		}
	} 
}

.nav.small { 
	ul.a {  

		> li {
			width:20%;
		}
		:nth-child(2){
			margin-right: 10%;
		} 
		:nth-child(3){
			margin-left: 10%;
		} 
	}
}




