// color
$baselink:	#222;
$tmp: 		#eea;
$oldgray:	#d2d2d2;
$oldblue-txt: #fff;
$oldblue: 	#004876;
$oldc: 		#70899e;
$oldgold:	#877362;
$gold:		#FFDC9F;
$red: 	#E55851;
$oldred:  #4a1f1a;
$darkblue: #1a2c42;
$radius:6px;

// screen w
$mobws: 320px;
$mobwm: 450px;
$padw: 640px;
$deskw: 900px;

$deskwmax: 1200px;
$deskwmmax: 1600px;
$vidr: 5/9;

// gutter
$no_nav_holder: 50px;
$nav_holder: 150px;
// $content_lrpd:.5rem;
$content_lrpd:0; 
$content_tbpd:30px;
$content_tbpd-m: 60px;
$blo_gtr-s:30px;
$ele_gtr-s:.5rem;

// fontsize


//
$bigbtn: #fef7c3;


// iwant ppl
$rtg_vv: 200px;
// $rtg_v43: 300px;
// $rtg_eq: 300px;
$rtg_h43: 500px;
$rtg_hh: 710px;
